* {
  padding: 0px;
  margin: 0px;
}

body,
html {
  padding: 0px;
  margin: 0px;
  flex: 1 1 auto; /* Positive flex-shrink */
}

nav{
 background-color: rgb(56, 59, 60);
 color:rgba(223, 233, 239, 0.5);
 height: 10vh;
 position: sticky;
 bottom: 0px;
 left:0px;
}

/* para obtener una lista lateral en nav*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
}

.pkmnBtn {
  width: 13vw;
  height: 13vw;
  border: 1px transparent;
  margin: 1vw;
  cursor: pointer;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 35px;
  float: right;
}


/* 
IDs:
logo: logo e informacion general
contenedorInfoPkmn: info pokemon 
contenedorBusquedaPokeDex: div de busqueda y el contenedor pokedex
busqueda: hacer id (es necesario que sea un id?)
contenedorPokedex: SOLO pokedex
*/

#mainpage {
  width: 100%;
  height: 90vh;
  border: 1px transparent;
  padding: 0px;
  margin: 0px;
  display: block;
  background-color: rgb(151, 206, 245);
  justify-content: space-between;
}

.pokeDex {
  width: 95%;
  height: 49%;
  display: inline-block;
  border: 1px transparent;
  padding: 1%;
  margin: 2px;
}


/* hijos de pokeDex*/
#contenedorInfoPkmn {
  width: auto;
  height:95%;
  background-color: rgb(105, 155, 230);
  padding: 2%;
  margin: 1%;
  border: 1px transparent;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  justify-content: space-between;
}
/**/

#contenedorPokedex {
  width: auto;
  height: 90%;
  background-color: rgb(105, 155, 230);
  padding: 2%;
  margin-top: 1%;
  border: 1px transparent;
  display: flex;
  flex-wrap: wrap;
  overflow:hidden;
  overflow-y: scroll;
  border-radius: 10px;
  justify-content: space-between;
}

/*
hijos y nietos contenedor info pkmn
*/

.columnsPkmn {
  width: 98%;
  height: auto;
  background-color: rgba(223, 233, 239, 0.5);
  padding: 1%;
  margin: 1%;
  border: 1px transparent;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.nombrePkmn {
  width: auto;
  height: 8vh;
  background-color: rgba(223, 233, 239, 0.5);
  padding: 0vw;
  margin: 1%;
  border: 1px transparent;
  display: inline-flex;
  border-radius: 10px;
  flex-direction: colum;
  justify-content: space-around;
}

.menuPkmn {
  width: 25%;
  height: auto;
  display: inline-flex;
  background-color:rgba(223, 233, 239, 0.5);
  margin: 1% 0px;
  padding: 2% 0px;
  border: 1px transparent;
  border-radius: 25px;
}

.imgPkmn {
  width: auto;
  height: 23vh;
  margin: 1%;
  display: inline-flex;
  background-color: blueviolet;
  border: 1px transparent;
  border-radius: 15px;
  background-color:rgba(223, 233, 239, 0.5);
}

.statsAtt {
  width: 30%;
  display: inline-flex;
  background-color: blueviolet;
  margin: 1%;
  border: 1px transparent;
  padding: 2%;
}


/*seccion contiene a stats*/
.seccion {
  width: 90%;
  margin: 1%;
  padding: 1%;
  border: 1px transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.stats {
  width: 15%;
  height: 2vh;
  background-color: rgba(32, 216, 245, 0.96);
  margin: 0.5%;
  padding: 0.5%;
  border: 1px transparent;
  display: inline-flex;
  border-radius: 25px;
}

.detalle {
  width: 90%;
  min-height: 10vw;
  background-color: rgba(32, 216, 245, 0.96);
  margin: 0px 2%;
  padding: 2%;
  border: 1px transparent;
  display: block;
  overflow-y: scroll;
  border-radius: 25px;
}

/* parametros para css de jquery*/
.pokemonGeneral {
  width: 60px;
  height: 60px;
  padding: 0px;
  margin: 1%;
  border: 1px transparent;
  background-color: rgba(223, 233, 239, 0.5);
  display: inline-flex;
  overflow: visible;
  border-radius: 40px;
}

.poke {
  position: relative;
  top: -0.2vw;
  left: -0.1vw;
  width: 150%;
}

