*{
    padding: 0px;
    margin: 0px;
}

body, html{
    padding:0px;
    margin:0px;

}

.cabecera{
    width: 98vw;
    height: 5em;
    background-color: blueviolet;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.contenido{
    width: 98vw;
    height: 5em;
    background-color: rgb(226, 43, 131);
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.pokeDex{
    width:98vw;
    height: fit-content;
    background-color: rgb(60, 193, 171);
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: flex; 
}

.contenedorPrincipal{
    width:44vw;
    height: 24vw;
    background-color: rgba(242, 219, 29, 1);
    padding: 2vw;
    margin: 2vw;
    border: 1px transparent;
    display: inline-flex;
}

.principal{
    width: 20vw;
    height: 20vw;
    background-color: rgba(242, 5, 119, 1);
    padding: 1px;
    margin: 1vw;
    border: 1px transparent;
    display: inline-block;

}

.seccion{
    width: 50%;
    margin: 0px;
    padding: 0px;
    border: 1px transparent;
    display: inline-block;
}

.detalle{
    width: 90%;
    height: fit-content;
    background-color: rgba(32, 216, 245, 0.96);
    margin: 1vw;
    padding: 1px;
    border: 1px transparent;
    display: block;
}


.contenedorPokedex{
    width:40vw;
    height: 24vw;
    background-color: rgba(242, 219, 29, 1);
    padding: 2vw auto;
    margin: 2vw;
    border: 1px transparent;
    display: inline-flex; 
    flex-wrap: wrap;
}

.pokemonGeneral{
    width: 2vw;
    height: 2vw;
    padding: 1vw;
    margin: 1vw;
    border: 1px transparent;
    background-color: rgba(32, 216, 245, 0.96);
    display: inline-box;
    
}

